# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/Autofac_Demo/Autofac_Demo.suo
/Autofac_Demo/AutofacDemo.Core/*.user
/MvcExtensionDemo/*.suo
