@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

@(Html.CRM().Grid
            .Name("Kk")
            .Columns(columns =>
            {
                columns.Bound(o => o.NormalizedUserName);
                columns.Bound(o => o.UserName);
                columns.Bound(o => o.Email);
            })
            .DataBinding(dataBinding => dataBinding.Server())
            .Pageable(paging => paging.Enabled(true))
            .Resizable(resizing => resizing.Columns(true))
)

@(
 "<div></div>"
)