@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

@(Html.CRM().Grid<Zing.Modules.Users.ViewModels.UserViewModel>()
            .Name("Kk")
            .Columns(columns =>
            {
                columns.Bound(o => o.NormalizedUserName);
                columns.Bound(o => o.UserName);
                columns.Bound(o => o.Email);
            })
)

@(
 "<div></div>"
)